.breadcrumb {
	li {
		max-width: 100%;
		@include text-ellipsis();
		position: relative;
		top: calc(16px / 4);
	}

	.fa {
		margin-left: 10px;
		color: $gray-500;
	}

	font-size: 16px;
	padding: 0;
	background: none;

    @include media-breakpoint-down(sm) {
		li {
			display: none;
		}

		li:nth-last-child(2), li:nth-last-child(1), li:last-child {
			display: inline-block;
		}

		li:nth-last-child(2):before {
			display: none;
		}

		li:last-child {
			white-space: normal;
		}
	}
}