// only overrides to bs5 variables here

// no border radius in persona
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
