.skin-quartz {
	// $body-bg-image is gradient in quartz
	[component="post"] {
		.icon {
			background-color: transparent !important;
			.avatar {
				box-shadow: none!important;
			}
		}
		.timeline-badge {
			box-shadow: none!important;
		}
	}
	.form-control::placeholder, .bootstrap-tagsinput input::placeholder {
		color: $gray-100!important;
	}
	.topic-header, .topic-list-header, .position-sticky.bg-body {
		background-color: transparent!important;
		backdrop-filter: blur(5px);
	}
	.account .avatar-wrapper.bg-body {
		background: linear-gradient(90deg, rgb(51.3, 182.7, 225.9), rgb(93.6, 98.1, 175.5), rgb(220.4, 47.5, 124.45));
		background-attachment: fixed;
	}
}

.skin-solar {
	.form-control::placeholder {
		color:$gray-100!important;
	}
}

.skin-yeti {
	.badge {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

// table color fix, remove once https://github.com/thomaspark/bootswatch/issues/1276 is published
.skin-darkly, .skin-superhero, .skin-solar, .skin-quartz {
	table > :not(caption) > * > * {
		color: white;
	}
}

.skin-superhero {
	// fix read button in dropdowns
	.mark-read .read {
		color: $primary!important;
	}
}

.skin-slate {
	// fix unread button colors in dropdowns
	.mark-read .unread {
		color: $secondary!important;
	}
}

.skin-morph {
	.text-secondary {
		color: #7b8ab8!important;
	}
}
