#new-topics-alert {
    margin-bottom: 0px;
    padding: 10px 16px;
}

.topic-list-header {
    top: calc(var(--panel-offset));
    z-index: $zindex-dropdown; // allows for top nav dropdowns to appear on top
}

.topic-list .title small {
    font-size: 12px;
    font-weight: normal;
}