$material-primary:         #337ab7;
$material-success:         #4CAF50;
$material-info:            #717484;
$material-warning:         #ff6d00;
$material-danger:          #F44336;


//== Topic List
//
//## Post objects found on the category, recent, popular, etc. pages

$post-padding:			20px;
$post-border-color: 	$gray-lighter;
$post-highlight:		$brand-info;