.topic {
	.page-number {
		position: absolute;
		bottom: 6px;
		background: rgb(219, 68, 55);
		padding: 4px;
		width: 26px;
		height: 26px;
		text-align: center;
		border-radius: 50%;
		color: white;
		font-size: 11px;

		.user-select(none);
	}

	@media (min-width: @screen-md-min) {
		.page-number {
			display: none;
		}
	}
}