// TODO: Needs to be cleaned up - do not child theme or you will lose your work.

.account {

}

.account-sub-links {
	border:none;

	> li {
		float:right;
	}
}

.account-picture-block{
	vertical-align:top;
	margin-bottom:20px;

	div {
		margin-bottom: 10px;
	}

	.dropdown-toggle {
		cursor: pointer;
	}
}

.user-profile-picture {
	width:128px;
	height:128px;
	border-radius: 50%;
}

.user-picture-label {
	font-size:20px;
}


.account-bio-label{
	display:block;
	font-size:14px;
	opacity:0.8;
}

.account-bio-value {
	display:block;
	margin-bottom:10px;
	font-size:18px;
}


.account-username-box {
	margin-bottom:10px;

	.open #profile {
		background-color: lighten(@brand-primary, 10%);
	}
}

.account-username{
  font-size:20px;
  font-weight:bold;
}


.account-stats {
	.formatted-number, .human-readable-number {
		font-size:30px;
	}

	.account-bio-label {
		font-size:16px;
		width:100px;
	}
}