.page-register-complete {
	.tos {
		background: @body-bg;
		color: @text-color;
		max-height: 350px;
		margin-top: 5px;
		overflow-y: scroll;
		padding: 15px;
		font-size: 1.25rem;
		line-height: 2rem;
	}
}