.topic .necro-post {
	text-align: center;
	color: rgba(127,127,127,.5);
	margin-bottom: 0;
	font-size: 1.5em;

	&:not(:last-child) {
		padding-bottom: calc(@post-padding * 2);
	}

	.timeline-badge {
		display: none;
	}

	span {
		text-transform: uppercase;
	}
}

@media (min-width: @screen-md-min) {
	.topic .necro-post {
		text-align: left;
		font-size: 1em;

		.timeline-badge {
			float: left;
			display: block;
			width: 32px;
			height: 32px;
			line-height: 32px;
			margin-left: -17px;
			margin-right: 17px;
			color: lighten(@brand-primary, 30%);
			background-color: @body-bg;
			border: 2px solid lighten(@brand-primary, 30%);
			border-radius: 50%;
			text-align: center;
		}

		span {
			line-height: 32px;
		}
	}
}