ul.topics-list, ul.categories-list {
	li {
		&.deleted {
			.meta, .topic-thumbs { visibility: hidden!important; }
			opacity: 0.65;
		}

		&.selected {
			background-color: mix($body-bg, $body-color, 90%);
			[component="topic/select"] {
				color: $success!important;
				visibility: visible;
			}
		}
		p {
			margin: 0 !important;
		}

		// all other skins use link-color for unread titles
		&.unread .title a {
			color: $link-color!important;
			font-weight: bold;
		}

		.ui-sortable-handle {
			cursor: move;
		}

		// if only one thumb don't display
		[data-numthumbs="1"] { display: none; }
	}
}

// on default skin use primary color for unread titles
.skin-noskin {
	ul.topics-list, ul.categories-list {
		li.unread .title {
			color: $primary!important;
		}
	}
}
